<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>
<style>
.main {
  display: flex;
  justify-content: center;
  height: calc(100vh - 100px);
  flex-direction: column;
  align-items: center;
}
.main .room-creator {
  margin: auto;
}

</style>
<div class="main">
  <div class="room-creator">
    <form id="room-form">
      <div class="form-group">
        <input type="text" name="className" id="class" class="form-control" placeholder="Class name" required>
      </div>
      <div class="form-group">
        <input type="text" name="subject" id="subject" class="form-control" placeholder="Subject name" required>
      </div>
      <div class="form-group">
        <input type="text" name="topic" id="subject" class="form-control" placeholder="Tpoic" required>
      </div>
      <div class="form-group">
        <input type="text" name="description" id="description" class="form-control" placeholder="Description" required>
      </div>
      <div class="form-group">
        <button class="btn btn-success" type="submit">Create</button>
      </div>
    </form>
  </div>
</div>
<%- include('partials/scripts.ejs') %>
<script>
const form = document.getElementById('room-form')
const inputs = form.querySelectorAll('input')
const formData = {}

form.addEventListener('submit', function(ev) {
  ev.preventDefault()

  for (let input of inputs) {
    formData[input.id] = input.value
  }

  formData['user'] = JSON.parse(localStorage.getItem('session'))

  fetchData('/rooms', 'POST', formData)
    .then(response => {
      response.host = formData.user
      redirect(`/rooms/${response.key}`)
    })
})
</script>
<%- include('partials/footer.ejs') %> 